<div class="playground">
  <code-editor #codeEditor (run)="startPlaying($event)"
                            (change)="codeChange($event)">
  </code-editor>
  <code-editor #output 
      [readOnly]="true" 
      class="output" 
      [theme]="'ace/theme/twilight'">
  </code-editor>
  <div class="ui inverted bottom pointing menu">
    <span class="brand item">
      Ctrl/Cmd + Enter to run...
    </span>
    <span class="item" *ngIf="!shareUrl">
      <button class="ui positive button" (click)="startSharing()">
        <i class="share icon"></i>
        Share
      </button>
    </span>
    <a *ngIf="shareUrl" type="text" class="ui item" style="user-select: all; -webkit-user-select: all">
      {{ shareUrl }}
    </a>
  </div>
</div>